@use '../abstract' as *;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot {
  height: 50vh;
  padding: 4rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__brand {
    position: relative;
    max-width: 22rem;
    p {
      margin: 1rem 0;
      font-size: 0.9rem;
      color: $color-grey;
    }

    &__socials {
      &__icons {
        display: flex;
        .facebook,
        .linkedin,
        .instagram {
          margin: 1.5rem 3rem 1.5rem 0;
          border: 0.1rem solid $color-orange;
          padding: 1rem;
          width: 0.8rem;
          height: 0.8rem;
          background: url('/src/assets/images/facebook.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 0.6rem;
          border-radius: 50%;
        }
        .linkedin {
          background: url('/src/assets/images/linkedin.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 1rem;
        }
        .instagram {
          background: url('/src/assets/images/instagram.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 1rem;
        }
      }
    }
  }

  &__pages {
    padding: 1rem 0;
    margin: 0 4rem;
    ul {
      padding-top: 0.75rem;
      list-style: none;
      line-height: 2.5rem;
      color: $color-grey;
    }
  }

  &__recent-blogs {
    padding: 1rem 0;
    margin: 0 4rem;
    ul {
      padding-top: 0.75rem;
      list-style: none;
      line-height: 2.5rem;
      color: $color-grey;
    }
  }

  &__partners {
    padding: 1rem 0;
    ul {
      padding-top: 0.75rem;
      list-style: none;
      line-height: 2rem;
      color: $color-grey;
    }
  }
}

.hline {
  width: 88vw;
  height: 0.1rem;
  background-color: $footer-hline;
}

.copyright {
  margin: 3rem;
  font-size: 0.8rem;
  color: $color-grey;
}
