@use '../abstract' as *;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot {
  height: 50vh;
  padding: px-to-rem(64) px-to-rem(64);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__brand {
    position: relative;
    max-width: px-to-rem(352);

    p {
      margin: px-to-rem(16) 0;
      font-size: px-to-rem(14.4);
      color: $color-grey;
    }

    &__socials {
      &__icons {
        display: flex;

        .facebook,
        .linkedin,
        .instagram {
          margin: px-to-rem(24) px-to-rem(48) px-to-rem(24) 0;
          border: px-to-rem(1.6) solid $color-orange;
          padding: px-to-rem(16);
          width: px-to-rem(12.8);
          height: px-to-rem(12.8);
          background: url('/src/assets/images/facebook.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: px-to-rem(9.6);
          border-radius: 50%;
        }

        .linkedin {
          background: url('/src/assets/images/linkedin.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: px-to-rem(16);
        }

        .instagram {
          background: url('/src/assets/images/instagram.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: px-to-rem(16);
        }
      }
    }
  }

  &__pages {
    padding: px-to-rem(16) 0;
    margin: 0 px-to-rem(64);

    ul {
      padding-top: px-to-rem(12);
      list-style: none;
      line-height: px-to-rem(40);
      color: $color-grey;
    }
  }

  &__recent-blogs {
    padding: px-to-rem(16) 0;
    margin: 0 px-to-rem(64);

    ul {
      padding-top: px-to-rem(12);
      list-style: none;
      line-height: px-to-rem(40);
      color: $color-grey;
    }
  }

  &__partners {
    padding: px-to-rem(16) 0;

    ul {
      padding-top: px-to-rem(12);
      list-style: none;
      line-height: px-to-rem(32);
      color: $color-grey;
    }
  }
}

.hline {
  width: 88vw;
  height: px-to-rem(1.6);
  background-color: $footer-hline;
}

.copyright {
  margin: px-to-rem(48);
  font-size: px-to-rem(12.8);
  color: $color-grey;
}
