@use '../abstract' as *;

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  background-color: $nav-bg;
}

.nav-list {
  position: relative;
  right: -2rem;

  ul {
    li {
      margin: 1rem;
      text-decoration: none;
      display: inline-block;
    }
  }

  a {
    text-decoration: none;
    color: $color-black;
    font-size: 0.8rem;
  }

  button {
    border: none;
    background-color: $color-orange;
    height: 2rem;
    width: 7rem;
    color: $color-white;
    border-radius: 0.2rem;
    font-size: 0.8rem;
  }
}

.home_link {
  color: $color-orange !important;
  padding-bottom: 0.4rem;
  border-bottom: 0.1rem solid $color-orange;
}
