.blog-card {
  /* border: 2px solid black; */
  margin-top: 2rem;
  height: 25vh;
  display: flex;
  align-items: center;

  &__image {
    border-radius: 0.2rem;
    /* border: 2px solid red; */
    width: 10rem;
    height: 10rem;
    background-image: url('/src/images/dog1.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
  }

  &__content {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    height: 25vh;
    width: 35rem;

    div {
      position: relative;
      top: -0.5rem;
      /* border: 2px solid black; */
      font-size: 0.8rem;
      color: rgb(87, 84, 84);
      padding-top: 1.5rem;
      padding-bottom: 0.8rem;
      padding-right: 0.5rem;
      border-right: 0.15rem solid rgb(231, 231, 231);
    }

    button {
      height: 2rem;
      width: 5rem;
      border-radius: 0.2rem;
      background-color: rgb(250, 101, 2);
      color: white;
      font-size: 0.8rem;
      border: none;
      position: relative;
      top: 1.4rem;
      right: -29rem;
    }
  }

  &__details {
    color: rgb(87, 84, 84);
    margin-left: 1.2rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1rem;

    ul {
      list-style: none;
    }

    li {
      margin-bottom: 0.8rem;
    }

    li::before {
      content: '#';
      margin-right: 0.3rem;
    }
  }
}
