@use '../abstract' as *;

.blog-card {
  margin-top: 2rem;
  height: 25vh;
  display: flex;
  align-items: center;

  &__image {
    border-radius: 0.2rem;
    width: 10rem;
    height: 10rem;
    background-image: url('/src/assets/images/dog1.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    height: 25vh;
    width: 35rem;

    div {
      position: relative;
      top: -0.5rem;
      font-size: 0.8rem;
      color: $latest-blogs-desc;
      padding-top: 1.5rem;
      padding-bottom: 0.8rem;
      padding-right: 0.5rem;
      border-right: 0.15rem solid $latest-blogs-card-content-border-right;
    }

    button {
      height: 2rem;
      width: 5rem;
      border-radius: 0.2rem;
      background-color: $color-orange;
      color: $color-white;
      font-size: 0.8rem;
      border: none;
      position: relative;
      top: 1.4rem;
      right: -29rem;
    }
  }

  &__details {
    color: $color-grey;
    margin-left: 1.2rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1rem;

    ul {
      list-style: none;
    }

    li {
      margin-bottom: 0.8rem;
    }

    li::before {
      content: '#';
      margin-right: 0.3rem;
    }
  }
}
