.latest-blogs {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    background-color: rgb(240, 237, 237);
    height: 20vh;
    width: 100vw;
  }

  &__main {
    /* border: 2px solid pink; */
    position: relative;
    border-radius: 0.25rem;
    top: -4rem;
    background-color: white;
    z-index: 1;
    width: 80vw;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__header {
      /* border: 2px solid purple; */
      padding-top: 1rem;
      margin: 2rem 2rem 1rem;
      position: relative;
      display: flex;
      flex-direction: row;

      button {
        border: none;
        background-color: rgb(250, 101, 2);
        height: 2rem;
        width: 6rem;
        color: white;
        font-size: 0.8rem;
        border-radius: 0.2rem;
        position: absolute;
        right: 1.2rem;
      }
    }

    &__content {
      /* border: 2px solid brown; */
      padding: 0 3.5rem;
    }

    &__bottom {
      margin: 3rem 0;
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        font-size: 0.9rem;
        height: 2.5rem;
        width: 11rem;
        background-color: white;
        color: rgb(250, 101, 2);
        border: 0.1rem solid rgb(250, 101, 2);
        border-radius: 0.2rem;
      }
    }
  }
}
