@use '../abstract' as *;

.latest-blogs {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    background-color: $latest-blogs-bg;
    height: 20vh;
    width: 100vw;
  }

  &__main {
    position: relative;
    border-radius: px-to-rem(4);
    top: px-to-rem(-64);
    background-color: $color-white;
    z-index: 1;
    width: 80vw;
    display: flex;
    flex-direction: column;
    box-shadow: $latest-blogs-shadow 0px 5px 15px;
  }

  &__header {
    padding-top: px-to-rem(16);
    margin: px-to-rem(32) px-to-rem(32) px-to-rem(16);
    position: relative;
    display: flex;
    flex-direction: row;

    button {
      border: none;
      background-color: $color-orange;
      height: px-to-rem(32);
      width: px-to-rem(96);
      color: $color-white;
      font-size: px-to-rem(12.8);
      border-radius: px-to-rem(3.2);
      position: absolute;
      right: px-to-rem(19.2);
    }
  }

  &__content {
    padding: 0 px-to-rem(56);
  }

  &__bottom {
    margin: px-to-rem(48) 0;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      font-size: px-to-rem(14.4);
      height: px-to-rem(40);
      width: px-to-rem(176);
      background-color: $color-white;
      color: $color-orange;
      border: px-to-rem(1.6) solid $color-orange;
      border-radius: px-to-rem(3.2);
    }
  }
}
