@use '../abstract' as *;

.swiper {
  height: 90%;
}

.slider-card {
  max-height: px-to-rem(400);
  max-width: px-to-rem(352);
  background-color: $color-white;
  margin: px-to-rem(24);
  box-shadow: $slider-card-shadow 0px 4px 12px;

  &__ribbon {
    margin-top: px-to-rem(28);
    display: flex;
    padding-right: px-to-rem(24);
    background-color: $slider-card-ribbon-bg;

    &__left {
      border-radius: 0 px-to-rem(3.2) px-to-rem(3.2) 0;
      margin-right: px-to-rem(24.32);
      height: px-to-rem(48);
      width: px-to-rem(4);
      background-color: $color-orange;
    }

    &__right {
      padding-top: px-to-rem(4);
      width: 100%;

      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__name {
          font-size: px-to-rem(16);
          color: $color-orange;
          @include text-clamp(100%, 1);
        }

        &__date {
          font-size: px-to-rem(12.8);
          color: $color-grey;
          @include text-clamp(50%, 1);
        }
      }

      .bottom {
        margin-top: px-to-rem(8);
        font-size: px-to-rem(12.8);
        color: $color-grey;
        @include text-clamp(100%, 1);
      }
    }
  }

  &__content {
    padding: 0 px-to-rem(32);
    padding-bottom: px-to-rem(32);

    .header {
      margin: px-to-rem(16) 0;
      line-height: px-to-rem(27.2);
      @include text-clamp(100%, 4);
    }

    p {
      line-height: px-to-rem(19.2);
      font-size: px-to-rem(12.8);
      color: $color-grey;
      @include text-clamp(100%, 4);
    }

    button {
      margin-top: px-to-rem(32);
      height: px-to-rem(40);
      width: px-to-rem(104);
      background: none;
      color: $color-orange;
      border: px-to-rem(1.6) solid $color-orange;
      border-radius: px-to-rem(3.2);
    }
  }
}
